<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/"><img src="IMG/Logo.png" alt="Logo" class="nav-logo"></a></li>
      <li><a href="/dashboard" class="nav-button">Dashboard - <%= user.username %></a></li>
      <% if (user) { %>
        <li><a href="/logout" class="nav-button" id="logoutLink">Log Out</a></li>
      <% } else { %>
        <li><a href="/login" class="nav-button">Log In</a></li>
      <% } %>
    </ul>
  </nav>

  <div class="container">
    <h1>Welcome to Your Dashboard, <%= user.username %>!</h1>

    <h2>Create a New Plagg</h2>
    <form action="/create-plagg" method="POST">
      <input type="text" name="productName" placeholder="Product Name" required>
      <select name="kategori" required>
        <option value="" disabled selected>Select Category</option>
        <option value="genser">Genser</option>
        <option value="t-skjorte">T-skjorte</option>
      </select>
      <textarea name="description" placeholder="Description" required></textarea>
      <input type="text" name="imageUrl" placeholder="Image URL" required>
      <button type="submit">Submit</button>
    </form>

    <!-- Display plaggs -->
    <% if (user.plaggs && user.plaggs.length > 0) { %>
      <h2>Your Plaggs</h2>
      <ul>
        <% user.plaggs.forEach(plagg => { %>
          <li>
            <strong>Name:</strong> <%= plagg.productName %><br>
            <strong>Category:</strong> <%= plagg.kategori %><br>
            <strong>Description:</strong> <%= plagg.description %><br>
            <strong>Image:</strong> <img src="<%= plagg.imageUrl %>" alt="<%= plagg.productName %>"><br>
            <strong>Timestamp:</strong> <%= plagg.timestamps %>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No plaggs created yet.</p>
    <% } %>
  </div>
</body>
</html>


<script>
  document.getElementById('logoutLink').addEventListener('click', function(event) {
      event.preventDefault(); // Hindrer standard oppførsel for lenken

      fetch('/logout', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          }
      }).then(response => {
          if (response.ok) {
              window.location.href = '/';
          } else {
              console.error('Logout failed');
          }
      }).catch(error => {
          console.error('Error:', error);
      });
  });
</script>