<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"><img src="IMG/Logo.png" alt="Logo" class="nav-logo"></a></li>
            <% if (user) { %>
              <li><a href="/dashboard" class="nav-button">MetalCATS - <%= user.username %></a></li>
            <% } else { %>
              <li><a href="/dashboard" class="nav-button">MetalCATS</a></li>
            <% } %> 
            <% if (user) { %>
              <li><a href="/logout" class="nav-button">Log Out</a></li>
            <% } else { %>
              <li><a href="/login" class="nav-button">Log In</a></li>
            <% } %> 
        </ul>
    </nav>

    <h2>Newest Plaggs per Category</h2>
    <div class="post-list">
      <% newestPlaggs.forEach(plagg => { %>
        <div class="post-container">
          <div class="post">
            <h3><%= plagg.productName %></h3>
            <p><%= plagg.description %></p>
            <img src="<%= plagg.imageUrl %>" alt="<%= plagg.productName %>" style="width: 200px;">
            <% if (user) { %>
              <form action="/add-to-cart" method="post" style="margin-top: 10px;">
                <input type="hidden" name="plaggId" value="<%= plagg._id %>">
                <button type="submit" class="register-button">Add to Cart</button>
              </form>
            <% } %>
            <a href="/<%= plagg.kategori %>">
              <button style="margin-top: 10px;">Se flere <%= plagg.kategori %></button>
            </a>
          </div>
        </div>
      <% }) %>
    </div>
    
</body>
</html>
